@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width:  100%;
}

.buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  background-color: #FFDAB9;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  border: 2px solid(rgba(rgb(44, 37, 30)));
  border-radius: 4px;
  transition: background-color .2s;
}

.btn:hover{
  background-color: black;
  color: #FFDAB9;
}

.btn-light{
  background-color: #FFEFD5;
  border: 2px solid #FFEFD5;
}

body {
  font-family:'Comic Sans MS' sans-serif;
  /*padding: 20px;*/
  background-color: #FFDAB9;
  color: black;
}

/* HEADER */
.header{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background: #FFEFD5;
  padding: 10px 50px;
}

/* FILTER */
.filter{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
}
.filter .form-control{
  width: 100%;
}
.filter .form-control input{
  background-color: #FFEFD5;
  border: none;
  outline: none;
  padding: 12px;
  border-radius: 5px;
  color: black;
  font-family: inherit;
  letter-spacing: 0.5px;
  width: 100%;
  margin: 0 0 30px;
}
.filter .form-control input::placeholder{
  color: black;
}
.filter .region .select{
  background-color: #FFEFD5;
  color: black;
  font-family: inherit;
  padding: 12px;
  width: 250px;
  border: none;
  border-radius: 5px;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  padding: 10px 50px;
  transform: skewY(-2deg);
}

.grid article{
  /*box-shadow: 0 10px 10px rgba(9,17,22,0.5);*/
}
.grid article img {
  border-radius: 5px 5px 0 0;
}

.grid .details-main {
  background-color: #FFEFD5;
  padding: 40px 20px;
  margin-top: -20px;
  border-radius:  0 0 5px 5px;
}

.grid .details-main h3{
  padding-bottom: 10px;
}

.grid .details-main h4{
  padding-bottom: 5px;
}

.grid .details-main h4 span{
  font-weight: 300;
}

@media (min-width: 640px) {
  .grid{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .filter{
    flex-direction: row;
  }

  .filter .form-control{
    width: auto;
  }

  .filter .form-control input{
    width: auto;
    margin: 0;
  }

  .filter .region{
    width: auto;
  }

  .grid{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  .header, .filter, .grid{
    padding: 20px 100px;
  }
  .grid{
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
  }
}